
.sidebar {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  background-color: rgb(56, 56, 56);
  z-index: 1000;
  border-right: 1px solid rgb(156, 154, 154);

  .sidebarItem {
    position: relative;
    box-sizing: border-box;
    color: rgb(95, 95, 95);
    width: 46px;
    height: 44px;
    padding: 7px 7px 7px 10px;
    border-radius: 0px 10px 10px 0px;

    .sidebarItemTips {
      position: absolute;
      left: 50px;
      padding: 0px 5px;
      line-height: 30px;
      height: 30px;
      color: white;
      white-space: nowrap;
      background-color: rgb(56, 56, 56);
      border: 1px solid grey;
    }

    .sidebarItemIcon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .sidebarItem.active {
    background-color: rgb(190, 190, 190);
  }

  .sidebarItem.highlight {
    background-color: rgb(102, 201, 84) !important;
  }

  .alignToBottom {
    margin-top: auto;
  }
}
